body {
  background-color: #c32d60;
}

.organizer-col-left {
  padding-top: 90px;
}

.organizer-section-subtitle {
  font: Bold 13px/24px Poppins;
  letter-spacing: 0.52px;
  color: #B41735;
}

.organizer-section-title {
  text-align: left;
  font: Bold 66px/78px Poppins;
  letter-spacing: 0;
  color: #08061C;
}

.organizer-info {
  border-radius: 3px;
  border: 1px solid #DEDEDE;
  padding: 25px 35px;
  display: flex;

}

.organizer-info > img {
  border-radius: 50%;
  flex: 0 0 130px;
  max-width: 130px;
  height: 130px;
  margin-right: 35px;
}

.organizer-info + .organizer-info {
  margin-top: 8px;
}